{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body%}
    <div id="header">
        <div id="titre">
            {{ "Snowtricks"|title }}
        </div>  
    </div>
        
    <div id="menu">
        <a href="{{ path('security_login')}}"> Connexion</a>
        <div id="droit">
            <a href="{{ '' }}" style="background-color:#474747 ;">Les figures</a>
            <a href="{{ '' }}" style="background-color:#5b5b5b ;">Nous contacter</a>
        </div>         
    </div>
        
    <div id="gif">
        <div id="titre">
            {{ "Le snowboard pour tous" }}
        </div>  
    </div> 
{% endblock %}

