{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="../../public/css/default.css">
    {% endblock %}
    
    <div class="row" id="register_container">
        <div class="col-sm-5">
            <div id="register">
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.mail) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

                <button type="submit">S'inscrire !</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
        
{% endblock %}