{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../../css/show.css">
{% endblock %}

{% block title %}Post{% endblock %}

{% block body %}
    
    <div id="header">
        <div id="titre">
            {{ post.title }}
        </div>  
    </div>
    
    <div id="block">
        <a href="{{ path('post_index') }}">back to list</a>
        <div>{{ post.createAt ? post.createAt|date('Y-m-d H:i:s') : '' }}</div>    
        <div>{{ post.content }}</div>
        
        <div id="edelete">
            <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
               
{% endblock %}